<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styleInsert.css">
</head>
<body>

<form action="insertCustomer" method='POST'>

    <table border="1" class="styleTable1">
        <tr>
            <td colspan="2">Insert Product</td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="txtName" id="" class="input1"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input type="text" name="txtAddress" id="" class="input1"></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="txtAmount" class="input1"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Insert Customer">
                
            </td>
        </tr>
    </table>
</form>

</body>
</html>
        